/* Reset */
@use "./style/variable" as *;
@use "./style/mixins" as *;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  font-family: $font-avenir;
  color: $color-text-dark;
  margin: 0;
  padding: 0;

}



